.container
		.row
			.col-12
				//-- Copywrite Text
				.copy_right_text.text-center
					p
						| This template is made with&nbsp;
						i.fa.fa-heart-o(aria-hidden='true')  by&nbsp;
						a(href='https://colorlib.com' target='_blank') Colorlib