include footer.instagram.gallery.pug
include footer.social.pug
//-- ****** Footer Menu Area Start ******
footer.footer_area
	.container
		.row
			.col-12
				.footer-content
					//-- Include logo component on footer
					- var logoArea = 'footer';
					include ../components/logo.area.pug

	include footer.template.copyright.pug
//-- ****** Footer Menu Area End ******