include footer.social.pug
//-- ****** Footer Menu Area Start ******
footer.footer_area
	.container
		.row
			.col-12
				.footer-content
					//-- Include logo component on footer
					- var logoArea = 'footer';
					include ../components/logo.area.pug
					//-- Menu Area Start
					nav.navbar.navbar-expand-lg
						button.navbar-toggler(type='button' data-toggle='collapse' data-target='#yummyfood-footer-nav' aria-controls='yummyfood-footer-nav' aria-expanded='false' aria-label='Toggle navigation')
							i.fa.fa-bars(aria-hidden='true')
							|  Menu
						//-- Menu Area Start
						#yummyfood-footer-nav.collapse.navbar-collapse.justify-content-center
							ul.navbar-nav
								li.nav-item.active
									a.nav-link(href='#')
										| Home
										span.sr-only (current)
								li.nav-item
									a.nav-link(href='#') Features
								li.nav-item
									a.nav-link(href='#') Categories
								li.nav-item
									a.nav-link(href='#') Archive
								li.nav-item
									a.nav-link(href='#') About
								li.nav-item
									a.nav-link(href='#') Contact
	.container
		.row
			.col-12
				//-- Copywrite Text
				.copy_right_text.text-center
					p
						| Copyright @2018 All rights reserved | This template is made with&nbsp;
						i.fa.fa-heart-o(aria-hidden='true')
						|  by&nbsp;
						a(href='https://colorlib.com' target='_blank') Colorlib
//-- ****** Footer Menu Area End ******