# Folders
node_modules
bower_components
dist
logs
.nyc_output
coverage

# Templates
templates/yummy-colorlib

# Lock files
package-lock.json
yarn.lock

# npmrc
.npmrc

# log files
*.log

# trash files
.trash