doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='description' content='')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		//-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
		//-- Title
		title Shibami&Me
		//-- Favicon
		link(rel='icon' href='/img/core-img/favicon.ico')
		//-- Core Stylesheet
		link(href='/css/style.css' rel='stylesheet')
		//-- Responsive CSS
		link(href='/css/responsive/responsive.css' rel='stylesheet')

	body
		//-- Preloader Start
		#preloader
			.yummy-load
		include ../commons/header/header

		block content

		include ../commons/footer/footer

		//-- Jquery-2.2.4 js
		script(src='/js/jquery/jquery-2.2.4.min.js')
		//-- Popper js
		script(src='/js/bootstrap/popper.min.js')
		//-- Bootstrap-4 js
		script(src='/js/bootstrap/bootstrap.min.js')
		//-- All Plugins JS
		script(src='/js/others/plugins.js')
		//-- Active JS
		script(src='/js/active.js')
		//-- Main app JS
		script(src='/js/main.js')