//-- Post Meta Info
-
	var defaultMeta = {
		show: { author: true, commentAndShare: true },
		authorArea: { author: 'Marian', date: 'May 19, 2017' },
		commentsAndShareArea: { likes: 10, numberOfComments: 12 }
	};
	var metaInfo = (meta) ? Object.assign({}, defaultMeta, meta ) : defaultMeta;

.post-meta.d-flex
	if metaInfo.show.author
		.post-author-date-area.d-flex
			//-- Post Author
			.post-author
				a(href='#') By #{metaInfo.authorArea.author}
			//-- Post Date
			.post-date
				a(href='#')= metaInfo.authorArea.date
	if metaInfo.show.commentAndShare
		//-- Post Comment & Share Area
		.post-comment-share-area.d-flex
			//-- Post Favourite
			.post-favourite
				a(href='#')
					i.fa.fa-heart-o(aria-hidden='true')
					|  #{metaInfo.commentsAndShareArea.likes}
			//-- Post Comments
			.post-comments
				a(href='#')
					i.fa.fa-comment-o(aria-hidden='true')
					|  #{metaInfo.commentsAndShareArea.numberOfComments}
			//-- Post Share
			.post-share
				a(href='#')
					i.fa.fa-share-alt(aria-hidden='true')