include post.share.info.pug
//-- Single Post
.col-10.col-sm-11
	.single-post

		- var thumb = { img: '/img/blog-img/10.jpg', alt: '' };
		include post.thumb.pug

		//-- Post Content
		.post-content

			include post.meta.info.pug

			//- a(href='#')
			h2.post-headline= dbPost.title
			!= dbPost.content.html
	//-- Tags Area
	.tags-area
		each tag in dbPost.tags
			a(href='#').mr-1= tag

	include post.related.area.pug

	include post.comments.pug