//-- Related Post Area
.related-post-area.section_padding_50
	h4.mb-30 Related post
	.related-post-slider.owl-carousel
		- var images = [ '/img/blog-img/15.jpg', '/img/blog-img/5.jpg', '/img/blog-img/16.jpg', '/img/blog-img/5.jpg' ];
		each val in images
			//-- Single Related Post
			.single-post

				- var thumb = { image: val, alt: '' };
				include post.thumb.pug

				//-- Post Content
				.post-content

					- var meta = { show: { author: true, comment: false } };
					include post.meta.info.pug

					a(href='#')
						h6 The Top Breakfast And Brunch Spots In Hove