//-- ****** Footer Social Icon Area Start ******
.social_icon_area.clearfix
	.container
		.row
			.col-12
				.footer-social-area.d-flex
					.single-icon
						a(href='#')
							i.fa.fa-facebook(aria-hidden='true')
							span facebook
					.single-icon
						a(href='#')
							i.fa.fa-twitter(aria-hidden='true')
							span Twitter
					.single-icon
						a(href='#')
							i.fa.fa-google-plus(aria-hidden='true')
							span GOOGLE+
					.single-icon
						a(href='#')
							i.fa.fa-linkedin-square(aria-hidden='true')
							span linkedin
					.single-icon
						a(href='#')
							i.fa.fa-instagram(aria-hidden='true')
							span Instagram
					.single-icon
						a(href='#')
							i.fa.fa-vimeo(aria-hidden='true')
							span VIMEO
					.single-icon
						a(href='#')
							i.fa.fa-youtube-play(aria-hidden='true')
							span YOUTUBE
//-- ****** Footer Social Icon Area End ******