extends ../layout/layout

block content

	- var dbPost = (data && data.pageData && data.pageData.post) ? data.pageData.post : {};
	-
		var breadcrumb = {
			title: dbPost.title,
			items: [
				{
					link: '/views/home',
					text: ' Home'
				},
				{
					link: '#',
					text: dbPost.title
				}
			]
		};
	include ../components/breadcrumb.pug

	//-- ****** Single Blog Area Start ******
	section.single_blog_area.section_padding_80
		.container
			.row.justify-content-center
				.col-12.col-lg-8
					.row.no-gutters
						include ../components/post/post.pug

				include ../components/sidebar.pug
	//-- ****** Single Blog Area End ******