.single-widget-area.about-me-widget.text-center
	.widget-title
		h6 About Me
	.about-me-widget-thumb
		img(src='/img/about-img/1.jpg' alt='')
	h4.font-shadow-into-light Shopia Bernard
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt