.single-widget-area.add-widget.text-center
	.add-widget-area
		img(src='/img/sidebar-img/6.jpg' alt='')
		.add-text
			.yummy-table
				.yummy-table-cell
					h2 Cooking Book
					p Buy Book Online Now!
					a.add-btn(href='#') Buy Now