.single-widget-area.newsletter-widget
	.widget-title.text-center
		h6 Newsletter
	p Subscribe our newsletter gor get notification about new updates, information discount, etc.
	.newsletter-form
		form(action='#' method='post')
			input#email(type='email' name='newsletter-email' placeholder='Your email')
			button(type='submit')
				i.fa.fa-paper-plane-o(aria-hidden='true')