.single-widget-area.subscribe_widget.text-center
	.widget-title
		h6 Subscribe &amp; Follow
	.subscribe-link
		a(href='#')
			i.fa.fa-facebook(aria-hidden='true')
		a(href='#')
			i.fa.fa-twitter(aria-hidden='true')
		a(href='#')
			i.fa.fa-google(aria-hidden='true')
		a(href='#')
			i.fa.fa-linkedin-square(aria-hidden='true')
		a(href='#')
			i.fa.fa-instagram(aria-hidden='true')
		a(href='#')
			i.fa.fa-vimeo(aria-hidden='true')