//-
	Logo Area Component
	It is necessary pass the logoArea variable before include this component.
	Example:
		- var logoArea = 'header';
		include ../components/logo.area.pug
.col-12
	if logoArea === 'header'
		.logo_area.text-center
			a.amalgama-logo(href='/')= data.commonComponents.logoAreaComponent.title
	if logoArea === 'footer'
		.footer-logo-area.text-center
			a.amalgama-logo(href='/')= data.commonComponents.logoAreaComponent.title