//-- ****** Blog Area Start ******
section.blog_area.section_padding_0_80
	.container
		.row.justify-content-center
			.col-12.col-lg-8
				.row

					include featured.post.pug

					include grid.posts.pug

					include list.posts.pug

			include ../../components/sidebar.pug

//-- ****** Blog Area End ******