//-- Single Post
.col-12
	.single-post.wow.fadeInUp(data-wow-delay='.2s')
		//-- Post Thumb
		.post-thumb
			img(src='/img/blog-img/1.jpg' alt='')
		//-- Post Content
		.post-content
			.post-meta.d-flex
				.post-author-date-area.d-flex
					//-- Post Author
					.post-author
						a(href='#') By Marian
					//-- Post Date
					.post-date
						a(href='#') May 19, 2017
				//-- Post Comment & Share Area
				.post-comment-share-area.d-flex
					//-- Post Favourite
					.post-favourite
						a(href='#')
							i.fa.fa-heart-o(aria-hidden='true')
							|  10
					//-- Post Comments
					.post-comments
						a(href='#')
							i.fa.fa-comment-o(aria-hidden='true')
							|  12
					//-- Post Share
					.post-share
						a(href='#')
							i.fa.fa-share-alt(aria-hidden='true')
			a(href='#')
				h2.post-headline Boil The Kettle And Make A Cup Of Tea Folks, This Is Going To Be A Big One!
			p
				| Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
			a.read-more(href='#') Continue Reading..