-
	var gridPosts = (data && data.pageData && data.pageData.blogArea && data.pageData.blogArea.gridPosts) ? data.pageData.blogArea.gridPosts : [];
each post in gridPosts
	//-- Single Post
	.col-12.col-md-6
		.single-post.wow.fadeInUp(data-wow-delay='.4s')

			- var thumb = { image: post.meta.featuredImage.thumb.image, alt: post.meta.featuredImage.thumb.alt };
			include ../../components/post/post.thumb.pug

			//-- Post Content
			.post-content

				- var meta = { authorArea: { date: moment(post.meta.createdDate, moment.ISO_8601).format('ll') } };
				include ../../components/post/post.meta.info.pug

				a(href='/views/post/' + post.id)
					h4.post-headline= post.title