- var posts = [ { thumb: { image: '/img/blog-img/2.jpg', alt: '' }, title: 'Where To Get The Best Sunday Roast In The Cotswolds' }, { thumb: { image: '/img/blog-img/3.jpg', alt: '' }, title: 'The Top Breakfast And Brunch Spots In Hove, Brighton' }, { thumb: { image: '/img/blog-img/4.jpg', alt: '' }, title: 'The 10 Best Pubs In The Lake District, Cumbria' }, { thumb: { image: '/img/blog-img/5.jpg', alt: '' }, title: 'The 10 Best Brunch Spots In Newcastle, England' } ];
each post in posts
	//-- Single Post
	.col-12.col-md-6
		.single-post.wow.fadeInUp(data-wow-delay='.4s')

			- var thumb = { image: post.thumb.image, alt: post.thumb.alt };
			include ../../components/post/post.thumb.pug

			//-- Post Content
			.post-content

				include ../../components/post/post.meta.info.pug

				a(href='#')
					h4.post-headline= post.title