-
	var listPosts = (data && data.pageData && data.pageData.blogArea && data.pageData.blogArea.listPosts) ? data.pageData.blogArea.listPosts : [];
each post in listPosts
	//-- Single Post
	.col-12
		.list-blog.single-post.d-sm-flex.wow.fadeInUpBig(data-wow-delay='.2s')

			- var thumb = { image: post.meta.featuredImage.thumb.image, alt: post.meta.featuredImage.thumb.alt };
			include ../../components/post/post.thumb.pug

			//-- Post Content
			.post-content

				- var meta = { authorArea: { date: moment(post.meta.createdDate, moment.ISO_8601).format('ll') } };
				include ../../components/post/post.meta.info.pug

				a(href='/views/post/' + post.id)
					h4.post-headline= post.title
				p= post.content.text.substring(0, 200)
				a.read-more(href='/views/post/' + post.id) Continue Reading...