//-- ******* List Blog Area Start *******
//-- Single Post
.col-12
	.list-blog.single-post.d-sm-flex.wow.fadeInUpBig(data-wow-delay='.2s')

		- var thumb = { image: '/img/blog-img/6.jpg', alt: '' };
		include ../../components/post/post.thumb.pug

		//-- Post Content
		.post-content

			include ../../components/post/post.meta.info.pug

			a(href='#')
				h4.post-headline The 10 Best Bars By The Seaside In Blackpool, UK
			p
				| Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			a.read-more(href='#') Continue Reading..
//-- Single Post
.col-12
	.list-blog.single-post.d-sm-flex.wow.fadeInUpBig(data-wow-delay='.4s')

		- var thumb = { image: '/img/blog-img/7.jpg', alt: '' };
		include ../../components/post/post.thumb.pug

		//-- Post Content
		.post-content

			include ../../components/post/post.meta.info.pug

			a(href='#')
				h4.post-headline How To Get a Narcissist to Feel Empathy
			p
				| Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			a.read-more(href='#') Continue Reading..
//-- Single Post
.col-12
	.list-blog.single-post.d-sm-flex.wow.fadeInUpBig(data-wow-delay='.6s')

		- var thumb = { image: '/img/blog-img/8.jpg', alt: '' };
		include ../../components/post/post.thumb.pug

		//-- Post Content
		.post-content

			include ../../components/post/post.meta.info.pug

			a(href='#')
				h4.post-headline Bristol&apos;s 10 Amazing Weekend Brunches And Late Breakfasts
			p
				| Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			a.read-more(href='#') Continue Reading..
//-- Single Post
.col-12
	.list-blog.single-post.d-sm-flex.wow.fadeInUpBig(data-wow-delay='.8s')

		- var thumb = { image: '/img/blog-img/9.jpg', alt: '' };
		include ../../components/post/post.thumb.pug

		//-- Post Content
		.post-content

			include ../../components/post/post.meta.info.pug

			a(href='#')
				h4.post-headline 10 Of The Best Places To Eat In Liverpool, England
			p
				| Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			a.read-more(href='#') Continue Reading..