//-- ******* List Blog Area Start *******
//-- Single Post
.col-12
	.list-blog.single-post.d-sm-flex.wow.fadeInUpBig(data-wow-delay='.2s')
		//-- Post Thumb
		.post-thumb
			img(src='/img/blog-img/6.jpg' alt='')
		//-- Post Content
		.post-content
			.post-meta.d-flex
				.post-author-date-area.d-flex
					//-- Post Author
					.post-author
						a(href='#') By Marian
					//-- Post Date
					.post-date
						a(href='#') May 19, 2017
				//-- Post Comment & Share Area
				.post-comment-share-area.d-flex
					//-- Post Favourite
					.post-favourite
						a(href='#')
							i.fa.fa-heart-o(aria-hidden='true')
							|  10
					//-- Post Comments
					.post-comments
						a(href='#')
							i.fa.fa-comment-o(aria-hidden='true')
							|  12
					//-- Post Share
					.post-share
						a(href='#')
							i.fa.fa-share-alt(aria-hidden='true')
			a(href='#')
				h4.post-headline The 10 Best Bars By The Seaside In Blackpool, UK
			p
				| Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			a.read-more(href='#') Continue Reading..
//-- Single Post
.col-12
	.list-blog.single-post.d-sm-flex.wow.fadeInUpBig(data-wow-delay='.4s')
		//-- Post Thumb
		.post-thumb
			img(src='/img/blog-img/7.jpg' alt='')
		//-- Post Content
		.post-content
			.post-meta.d-flex
				.post-author-date-area.d-flex
					//-- Post Author
					.post-author
						a(href='#') By Marian
					//-- Post Date
					.post-date
						a(href='#') May 19, 2017
				//-- Post Comment & Share Area
				.post-comment-share-area.d-flex
					//-- Post Favourite
					.post-favourite
						a(href='#')
							i.fa.fa-heart-o(aria-hidden='true')
							|  10
					//-- Post Comments
					.post-comments
						a(href='#')
							i.fa.fa-comment-o(aria-hidden='true')
							|  12
					//-- Post Share
					.post-share
						a(href='#')
							i.fa.fa-share-alt(aria-hidden='true')
			a(href='#')
				h4.post-headline How To Get a Narcissist to Feel Empathy
			p
				| Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			a.read-more(href='#') Continue Reading..
//-- Single Post
.col-12
	.list-blog.single-post.d-sm-flex.wow.fadeInUpBig(data-wow-delay='.6s')
		//-- Post Thumb
		.post-thumb
			img(src='/img/blog-img/8.jpg' alt='')
		//-- Post Content
		.post-content
			.post-meta.d-flex
				.post-author-date-area.d-flex
					//-- Post Author
					.post-author
						a(href='#') By Marian
					//-- Post Date
					.post-date
						a(href='#') May 19, 2017
				//-- Post Comment & Share Area
				.post-comment-share-area.d-flex
					//-- Post Favourite
					.post-favourite
						a(href='#')
							i.fa.fa-heart-o(aria-hidden='true')
							|  10
					//-- Post Comments
					.post-comments
						a(href='#')
							i.fa.fa-comment-o(aria-hidden='true')
							|  12
					//-- Post Share
					.post-share
						a(href='#')
							i.fa.fa-share-alt(aria-hidden='true')
			a(href='#')
				h4.post-headline Bristol&apos;s 10 Amazing Weekend Brunches And Late Breakfasts
			p
				| Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			a.read-more(href='#') Continue Reading..
//-- Single Post
.col-12
	.list-blog.single-post.d-sm-flex.wow.fadeInUpBig(data-wow-delay='.8s')
		//-- Post Thumb
		.post-thumb
			img(src='/img/blog-img/9.jpg' alt='')
		//-- Post Content
		.post-content
			.post-meta.d-flex
				.post-author-date-area.d-flex
					//-- Post Author
					.post-author
						a(href='#') By Marian
					//-- Post Date
					.post-date
						a(href='#') May 19, 2017
				//-- Post Comment & Share Area
				.post-comment-share-area.d-flex
					//-- Post Favourite
					.post-favourite
						a(href='#')
							i.fa.fa-heart-o(aria-hidden='true')
							|  10
					//-- Post Comments
					.post-comments
						a(href='#')
							i.fa.fa-comment-o(aria-hidden='true')
							|  12
					//-- Post Share
					.post-share
						a(href='#')
							i.fa.fa-share-alt(aria-hidden='true')
			a(href='#')
				h4.post-headline 10 Of The Best Places To Eat In Liverpool, England
			p
				| Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			a.read-more(href='#') Continue Reading..