include header.top.pug
//-- ****** Header Area Start ******
header.header_area
	.container
		.row
			//-- Include logo component on header
			- var logoArea = 'header';
			include ../components/logo.area.pug
		.row
			include ../components/navbar.pug
//-- ****** Header Area End ******