extends ../layout/layout

block content

	.px-3.mx-3
		.row.pb-3
			button#tinymceSaveButton(type='button' class='btn btn-success') Save
		.row
			.col-md-6
				#tinymceTextarea(placeholder='write something')
				.row.pt-3
					button#tinymceSaveButton(type='button' class='btn btn-success') Save
			.col-md-6
				#tinymceHtml(class='single_blog_area')
					p Here will appear your text...
