extends ../layout/layout

block content

	#textarea
	#btn1(type='button')
		| button

	script.
		tinymce.init({
			selector: '#textarea',
			init_instance_callback: function (editor) {
				editor.on('Change', function (e) {
					console.log('Editor contents was changed.', e);
				});
			}
		});
		$('#btn1').click(function() {
			console.log(tinymce.activeEditor.getContent());
		});

