.col-12
	nav.navbar.navbar-expand-lg
		//-- Collapsible menu
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#amalgama-nav' aria-controls='amalgama-nav' aria-expanded='false' aria-label='Toggle navigation')
			i.fa.fa-bars(aria-hidden='true')
			|  Menu
		//-- Menu Area Start
		#amalgama-nav.collapse.navbar-collapse.justify-content-center
			ul#amalgama-nav.navbar-nav
				li.nav-item.active
					a.nav-link(href='/views/home')
						| Home
						span.sr-only (current)
				li.nav-item
					a.nav-link(href='/views/pages') Pages
				li.nav-item.dropdown
					a#amalgamaDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Pages
					.dropdown-menu(aria-labelledby='amalgamaDropdown')
						a.dropdown-item(href='/views/home') Home
						a.dropdown-item(href='archive.html') Archive
						a.dropdown-item(href='single.html') Single Blog
						a.dropdown-item(href='static.html') Static Page
						a.dropdown-item(href='contact.html') Contact
				li.nav-item
					a.nav-link(href='archive.html') Archive
				li.nav-item
					a.nav-link(href='#') About
				li.nav-item
					a.nav-link(href='contact.html') Contact