//-- ****** Categories Area Start ******
section#about.categories_area.clearfix
	.container
		.row
			.col-12.col-md-6.col-lg-4
				.single_catagory.wow.fadeInUp(data-wow-delay='.3s')
					img(src='/img/catagory-img/1.jpg' alt='')
					.catagory-title
						a(href='#')
							h5 Food
			.col-12.col-md-6.col-lg-4
				.single_catagory.wow.fadeInUp(data-wow-delay='.6s')
					img(src='/img/catagory-img/2.jpg' alt='')
					.catagory-title
						a(href='#')
							h5 Cooking
			.col-12.col-md-6.col-lg-4
				.single_catagory.wow.fadeInUp(data-wow-delay='.9s')
					img(src='/img/catagory-img/3.jpg' alt='')
					.catagory-title
						a(href='#')
							h5 Life Style
//-- ****** Categories Area End ******