//-- ****** Welcome Post Area Start ******
section.welcome-post-sliders.owl-carousel
	//-- Single Slide
	.welcome-single-slide
		//-- Post Thumb
		img(src='/img/bg-img/slide-1.jpg' alt='')
		//-- Overlay Text
		.project_title
			.post-date-commnents.d-flex
				a(href='#') May 19, 2017
				a(href='#') 5 Comment
			a(href='#')
				h5 &ldquo;I&rsquo;ve Come and I&rsquo;m Gone&rdquo;: A Tribute to Istanbul&rsquo;s Street
	//-- Single Slide
	.welcome-single-slide
		//-- Post Thumb
		img(src='/img/bg-img/slide-2.jpg' alt='')
		//-- Overlay Text
		.project_title
			.post-date-commnents.d-flex
				a(href='#') May 19, 2017
				a(href='#') 5 Comment
			a(href='#')
				h5 &ldquo;I&rsquo;ve Come and I&rsquo;m Gone&rdquo;: A Tribute to Istanbul&rsquo;s Street
	//-- Single Slide
	.welcome-single-slide
		//-- Post Thumb
		img(src='/img/bg-img/slide-3.jpg' alt='')
		//-- Overlay Text
		.project_title
			.post-date-commnents.d-flex
				a(href='#') May 19, 2017
				a(href='#') 5 Comment
			a(href='#')
				h5 &ldquo;I&rsquo;ve Come and I&rsquo;m Gone&rdquo;: A Tribute to Istanbul&rsquo;s Street
	//-- Single Slide
	.welcome-single-slide
		//-- Post Thumb
		img(src='/img/bg-img/slide-4.jpg' alt='')
		//-- Overlay Text
		.project_title
			.post-date-commnents.d-flex
				a(href='#') May 19, 2017
				a(href='#') 5 Comment
			a(href='#')
				h5 &ldquo;I&rsquo;ve Come and I&rsquo;m Gone&rdquo;: A Tribute to Istanbul&rsquo;s Street
	//-- Single Slide
	.welcome-single-slide
		//-- Post Thumb
		img(src='/img/bg-img/slide-4.jpg' alt='')
		//-- Overlay Text
		.project_title
			.post-date-commnents.d-flex
				a(href='#') May 19, 2017
				a(href='#') 5 Comment
			a(href='#')
				h5 &ldquo;I&rsquo;ve Come and I&rsquo;m Gone&rdquo;: A Tribute to Istanbul&rsquo;s Street
//-- ****** Welcome Area End ******