//-- ****** Breadcumb Area Start ******
.breadcumb-area(style='background-image: url(/img/bg-img/breadcumb.jpg);')
	.container.h-100
		.row.h-100.align-items-center
			.col-12
				.bradcumb-title.text-center
					h2 Single Post Blog
.breadcumb-nav
	.container
		.row
			.col-12
				nav(aria-label='breadcrumb')
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#')
								i.fa.fa-home(aria-hidden='true')
								|  Home
						li.breadcrumb-item
							a(href='#') Archive
						li.breadcrumb-item.active(aria-current='page') Single Post Blog
//-- ****** Breadcumb Area End ******