.col-12.col-sm-8.col-md-6.col-lg-4
	.blog-sidebar.mt-5.mt-lg-0

		include widgets/about.me.pug

		include widgets/subscribe.follow.pug

		include widgets/popular.posts.pug

		include widgets/book.pug

		include widgets/newsletter.pug